section {
  margin: 0.8rem auto 0 auto;
  background: #FFF;
  border-radius: .4rem;
  width: 40%;
  min-width: 62rem;
  padding: 1.6rem;
}

@media (max-width: 660px) {
  section {
    min-width: none;
  }
}

section:first-of-type {
	margin-bottom: 3.9rem;
	margin-top: 3.9rem;
}

section h1 {
  color: #042E54;
  font-size: 100%;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.flairpicker {
  flex-grow: 1;
  flex-basis: 0;
  border-radius: .2rem;
  border: .1rem solid #ccc;
  padding: 1.2rem;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: border .08s ease-in-out;
}

.flairpicker:hover {
  border-color: #042E54;
}

.flairpicker-left {
	margin-right: 1em;
}

.flairpicker-active {
	border-color: #042E54;
}

.flairpicker-text {
	font-size: 1.8rem;
	margin-left: 0.5rem;
}

.flairpicker-label {
	flex-grow: 1;
	text-align: center;
	margin-bottom: 0.8rem;
	font-size: 1.8rem;
  color: #042E54;
}

.custom-flair-text {
  flex-grow: 2;
  margin-top: 1.6em;
  border-radius: .2rem;
  border: .1rem solid #ccc;
  color: #666;
  font-size: inherit;
  padding: .5rem;
  vertical-align: middle;
  width: 60%;
}


.reset-flair-button {
  flex-grow: 0;
  background: #666;
  border-radius: .2rem;
  width: 4rem;
  color: #FFF;
  padding: 0.5rem;
  transition: background .08s ease-in-out;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  margin-top:2.6rem;
  margin-left:1rem;
}

.update-flair-button:hover {
  background: hsl(0, 0%, 7%);
  text-decoration: none;
}

.reset-flair-button:hover {
  background: hsl(0, 0%, 7%);
  text-decoration: none;
}


.category-label {
  color: #042E54;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.flair {
  background: #fff;
  border: .1rem solid #ccc;
  box-sizing:border-box;
  flex-basis: 31.5%;
  margin: 0.5rem;
  padding: 0.8rem;
  text-overflow: ellipsis;
  transition: background .08s ease-in-out;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space:nowrap;
}

.flair:hover {
  background: hsl(0, 0%, 85%);
	
}

.flair:active {
  background: #042E54;
}

.flair-item {
  border-radius: .2rem;
  border: .1rem solid #ccc;
  padding: 0.8rem;
  flex-basis: 31.5%;
  overflow:hidden;
  white-space:nowrap;
  margin: 0.5rem;
  text-overflow: ellipsis;
  box-sizing:border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: #fff;
  transition: background .1s ease-in-out;
  -webkit-transition: background .1s ease-in-out;
}

.flair-item:hover {
  background: hsl(0, 0%, 85%);
  
}