/* Content container box */
main {
  background: #FFF;
  border-radius: .4rem;
  margin: 3.9rem auto 0 auto;
  min-width: 62rem;
  padding: 1rem 2.6rem 2.6rem 2.6rem;
  width: 50%;
}

@media (max-width: 755px) {
  main {
    min-width: 0;
    padding: 2.5% 5% 5% 5%;
    width: auto;
  }
}

ul, ol {
  list-style-type: none;
}

.step {
  color: #042E54;
  margin-top: 2.6rem;
  opacity: 1;
  pointer-events: all
}

.step.disabled {
  opacity: .18;
  pointer-events: none;
}

/* Step number/check circle */
.circle {
  background: #042E54;
  border-radius: 100%;
  color: #FFF;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  height: 3.2rem;
  line-height: 3.1rem;
  margin-right: 2.6rem;
  pointer-events: none;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 3.2rem;
}

.step.complete .circle {
  background: #042E54 url('../images/check.svg') no-repeat center;
  font-size: 0;
}

/* Extra info on Reddit and Blizzard steps listing account usernames */
.info {
  color: #003152;
  display: inline-block;
  margin-right: 2.6rem;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@media (max-width: 755px) {
  .info {
    display: block;
    margin-right: 6rem;
    margin-top: 1.3rem;
  }
}

form {
  display: inline-block;
}

/***** Form *****/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #688298;
  border: none;
  border-radius: .2rem;
  color: #FFF;
  display: inline-block;
  font-size: 95%;
  padding: 1rem;
  transition: background 0.1s ease-in-out;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

select:hover {
  background: #042E54;
}

input[type=text] {
  border-radius: .2rem;
  border: .1rem solid #ccc;
  color: #666;
  font-size: inherit;
  padding: .9rem;
  vertical-align: middle;
}

.console_username {
	display: none;
}

.sr {
  font-size: 12px;
  color: #666;
  text-align: left;
  display: inline-block;
}

.rankpicker {
  display: inline-block;
  vertical-align: middle;
}

/* Hide the actual radio buttons. Users click the label, which is styled to have the rank icon image. */
.rankpicker input[type=radio] {
  display: none;
}

.rankoption {
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  -webkit-filter: brightness(0.2) grayscale(1);
  filter: brightness(0.2) grayscale(1);
  font-size: 0;
  height: 3.2rem;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;
  transition-property: filter, opacity;
  vertical-align: top;
  width: 3.2rem;
}

.rankpicker input[type=radio]:checked + .rankoption {
  opacity: 1;
}

.rankoption[disabled] {
  background-size: contain;
  display: inline-block;
  -webkit-filter: brightness(0.2) grayscale(1);
  filter: brightness(0.2) grayscale(1);
  opacity: 0.15;
  height: 3.2rem;
  width: 3.2rem;
}

.rankoption:hover {
  -webkit-filter: brightness(1) grayscale(.1);
  filter: brightness(1) grayscale(.1);
  opacity: 1;
}

.rankpicker input[type=radio]:checked +.rankoption {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.bronze {
	background-image: url("../images/rank-1.png");
}
.silver {
	background-image: url("../images/rank-2.png");
}
.gold {
	background-image: url("../images/rank-3.png");
}
.platinum {
	background-image: url("../images/rank-4.png");
}
.diamond {
	background-image: url("../images/rank-5.png");
}
.master {
	background-image: url("../images/rank-6.png");
}
.grandmaster {
	background-image: url("../images/rank-7.png");
}

.updated, .error {
  font-size: 1.5rem;
  margin-top: 2.4rem;
  margin-left: 6.2rem;
}

.updated {
  color: #4cbb17;
}

.error {
  color: #ed4337;
}