{
	"redditClientId": "",
	"redditClientSecret": "",
	"redditRedirectURI": "",
	
	"redditBotClientId": "",
	"redditBotClientSecret": "",
	"redditBotUserName": "",
	"redditBotPassword": "",
	"redditBotRedirectURI": "",
	
	"blizzardClientId": "",
	"blizzardClientSecret": "",
	"blizzardRedirectURI": ""
}