.flair {
    padding: 0;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
    display: inline-block;
    color: transparent;
    margin: 0;
    width: 44px;
    height: 44px;
    background: transparent
}
/*Rows*/
.flair[class*="-r02"]::before {
    background: 0 -44px
}
.flair[class*="-r03"]::before {
    background: 0 -88px
}
.flair[class*="-r04"]::before {
    background: 0 -132px
}
.flair[class*="-r05"]::before {
    background: 0 -176px
}
.flair[class*="-r06"]::before {
    background: 0 -220px
}
.flair[class*="-r07"]::before {
    background: 0 -264px
}
.flair[class*="-r08"]::before {
    background: 0 -308px
}
.flair[class*="-r09"]::before {
    background: 0 -352px
}
.flair[class*="-r10"]::before {
    background: 0 -396px
}
.flair[class*="-r11"]::before {
    background: 0 -440px
}
.flair[class*="-r12"]::before {
    background: 0 -484px
}
.flair[class*="-r13"]::before {
    background: 0 -526px
}
.flair[class*="-r14"]::before {
    background: 0 -570px
}
.flair[class*="-r15"]::before {
    background: 0 -616px
}
.flair[class*="-r16"]::before {
    background: 0 -660px
}
/*columns*/
.flair[class*="-c01"]::before {
    width: 44px;
    clip: rect(0, 44px, 44px, 0px);
    margin-left: 0
}
.flair[class*="-c02"]::before {
    width: 88px;
    clip: rect(0, 88px, 44px, 44px);
    margin-left: -44px;
}
.flair[class*="-c03"]::before {
    width: 132px;
    clip: rect(0, 132px, 44px, 88px);
    margin-left: -88px;
}
.flair[class*="-c04"]::before {
    width: 176px;
    clip: rect(0, 176px, 44px, 132px);
    margin-left: -132px;
}
.flair[class*="-c05"]::before {
    width: 220px;
    clip: rect(0, 220px, 44px, 176px);
    margin-left: -176px;
}
.flair[class*="-c06"]::before {
    width: 264px;
    clip: rect(0, 264px, 44px, 220px);
    margin-left: -220px;
}
.flair[class*="-c07"]::before {
    width: 308px;
    clip: rect(0, 308px, 44px, 264px);
    margin-left: -264px;
}
.flair[class*="-c08"]::before {
    width: 352px;
    clip: rect(0, 352px, 44px, 308px);
    margin-left: -308px;
}
.flair[class*="-c09"]::before {
    width: 396px;
    clip: rect(0, 396px, 44px, 352px);
    margin-left: -352px;
}
.flair[class*="-c10"]::before {
    width: 440px;
    clip: rect(0, 440px, 44px, 396px);
    margin-left: -396px;
}
.flair[class*="-c11"]::before {
    width: 484px;
    clip: rect(0, 484px, 44px, 440px);
    margin-left: -440px;
}
.flair[class*="-c12"]::before {
    width: 528px;
    clip: rect(0, 528px, 44px, 484px);
    margin-left: -484px;
}
.flair[class*="-c13"]::before {
    width: 572px;
    clip: rect(0, 572px, 44px, 528px);
    margin-left: -528px;
}
.flair[class*="-c14"]::before {
    width: 616px;
    clip: rect(0, 616px, 44px, 572px);
    margin-left: -572px;
}

.flair-small{
	transform: scale(0.5) translate(0px,-11px);
	width: 22px;
	height: 22px;
	margin-right: 1.2rem;
	pointer-events: none;
}

/* Team flair sheet */
.flair[class*="-steams"]::before {
    content: "";
    background-image: url("data/flairs-teams.png?q=1580004843");
    height: 44px;
    color: transparent;
/*	background-size: 88px 88px;*/
	position: absolute;
}
 
/* Rank flair sheet */
.flair[class*="-sranks"]::before {
    content: "";
    background-image: url("data/flairs-ranks.png?q=1579417558");
    height: 44px;
    color: transparent;
	background-size: 308px 308px;
	position: absolute;
}

/* Flag flair sheet */
.flair[class*="-sflags"]::before {
    content: "";
    background-image: url("data/flairs-flags.png?q=1579417558");
    height: 44px;
    color: transparent;
	background-size: 440px 440px;
	position: absolute;
}

/* Special flair sheet */
.flair[class*="-sspecial"]::before {
    content: "";
    background-image: url("data/flairs-special.png?q=1579417558");
    height: 44px;
    color: transparent;
	background-size: 132px 132px;
	position: absolute;
}

/* Miscellaneous flair sheet */
.flair[class*="-smiscellaneous"]::before {
    content: "";
    background-image: url("data/flairs-miscellaneous.png?q=1579417558");
    height: 44px;
    color: transparent;
	background-size: 264px 264px;
	position: absolute;
}


