<html>
	<head>
		{% if session.get('updated') %}
			<meta http-equiv="refresh" content="3;url=https://www.reddit.com/r/Competitiveoverwatch" />
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<script>
		$(document).ready(function(){
			$("#fetchrank_btn").click(function(){
				$("#loading").show();
				$("#content").hide();   
			});
			
			$("#platformselect").change(function(){
				if ($("#platformselect").val() == "psn") {
					$("#psnname").show(); 
					$("#xblname").hide(); 
				} else if ($("#platformselect").val() == "xbl") {
					$("#psnname").hide(); 
					$("#xblname").show(); 
				} else {
					$("#psnname").hide(); 
					$("#xblname").hide(); 
				}
			});
		});
		</script>
	</head>
	<body>
		<div id="loading">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<div id="content">
			<div class='stepsouter'>
				<div class='stepsinner'>
					<!-- Step 1 - Reddit login -->
					<div class='step'>
						<div class="circle {%if session.get('step', 1) > 1 %}done{% else %}active{% endif %}">1</div>
						{% if session.get('step', 1) == 1 %}
						<a class="link" href='{{redditLink}}'>Sign in with Reddit &blacktriangleright;</a>
						{% elif session.get('step', 1) > 1 %}
						<a class="link" href='{{redditLink}}'>Sign in with Reddit</a>
						{% else %}
						<div class="link inactive">Sign in with Reddit</div>
						{% endif %}
					</div>
					<div class='info'>
						{% if session.get('step', 1) > 1 %}
							{% if session.get('redditname') %}u/{{session.get('redditname', 'Unknown')}}{% else %}&nbsp;{% endif %}
						{% endif %}
						&nbsp;
					</div>
					
					<!-- Step 2 - Blizzard login -->
					<div class='step'>
						<div class="circle {%if session.get('step', 1) > 2 %}done{% elif session.get('step', 1) == 2 %}active{% else %}inactive{% endif %}">2</div>
						<form action="/redditflair/blizzardredirect" method="get">
							{% if session.get('step', 1) == 2 %}
							<input type="submit" value="Sign in with Blizzard &blacktriangleright;" class="linksubmit">
							<select class="select-style" name="region">
							{% elif session.get('step', 1) > 2 %}
							<input type="submit" value="Sign in with Blizzard" class="linksubmit">
							<select class="select-style" name="region">
							{% else %}
							<div class="link inactive">Sign in with Blizzard</div>
							<select class="select-style" name="region" disabled>
							{% endif %}
								<option value="us" {%if session.get('region')=='us' %}selected{% endif %}>US</option>
								<option value="eu" {%if session.get('region')=='eu' %}selected{% endif %}>EU</option>
								<option value="apac" {%if session.get('region')=='apac' %}selected{% endif %}>APAC</option>
							</select>
						</form>
					</div>
					<div class='info'>
						{% if session.get('step', 1) > 2 %}
							{% if session.get('battletag') %}{{session.get('battletag')}} - {%if session.get('region') %}{{session.get('region').upper()}}{% endif %}{% else %}&nbsp;{% endif %}
						{% endif %}
						&nbsp;
					</div>
					
					<!-- Step 3 - Fetch rank -->
					<div class='step'>
						<div class="circle {%if session.get('step', 1) > 3 %}done{% elif session.get('step', 1) == 3 %}active{% else %}inactive{% endif %}">3</div>
						<form action="/redditflair/fetchrank" method="get">
							{% if session.get('step', 1) == 3 %}
							<input type="submit" value="Fetch my rank &blacktriangleright;" class="linksubmit" id="fetchrank_btn">
							<select class="select-style" name="platform" id="platformselect" >
							{% elif session.get('step', 1) > 3 %}
							<input type="submit" value="Fetch my rank" class="linksubmit" id="fetchrank_btn">
							<select class="select-style" name="platform" id="platformselect" >
							{% else %}
							<div class="link inactive">Fetch my rank</div>
							<select class="select-style" name="platform" id="platformselect" disabled>
							{% endif %}
								<option value="pc" {%if session.get('platform')=='PC' %}selected{% endif %}>PC</option>
								<option value="xbl" {%if session.get('platform')=='Xbox' %}selected{% endif %} >Xbox</option>
								<option value="psn" {%if session.get('platform')=='PS4' %}selected{% endif %} >PS4</option>
							</select>
							<div class="consolename" id="psnname">
								<input class="textstyle" type="text" placeholder="PSN Name" name="psnname">
							</div>
							<div class="consolename" id="xblname">
								<input class="textstyle" type="text" placeholder="Xbox Live Name" name="xblname">
							</div>
						</form>
					</div>
					<div class='info'>
						&nbsp;
					</div>
					
					<!-- Step 3 - Update flair -->
					<form action="/redditflair/updateflair" method="get">
					<div class='step'>
						<div class="circle {%if session.get('step', 1) > 4 %}done{% elif session.get('step', 1) == 4 %}active{% else %}inactive{% endif %}">4</div>
						{% if session.get('step', 1) == 4 %}
						<input type="submit" value="Update my flair &blacktriangleright;" class="linksubmit">
						{% elif session.get('step', 1) > 4 %}
						<input type="submit" value="Update my flair" class="linksubmit">
						{% else %}
						<div class="link inactive">Update my flair</div>
						{% endif %}
					</div>	
					
					{% if session.get('step', 1) == 4%}				
					<div class="rankselection">
						<div class='customize'>
						Customize your flair
						</div>
						{% if session.get('ranknum', 0) > 0 %}
						<input id="bronze" type="radio" name="rankselect" value="1" {% if session.get('ranknum', 0) == 1 %}checked="checked"{% endif %} /><label for="bronze" class="rankoption bronze"></label>
						{% else %}
						<div class="bronze unavailable"></div>
						{% endif %}
						{% if session.get('ranknum', 0) > 1 %}
						<input id="silver" type="radio" name="rankselect" value="2" {% if session.get('ranknum', 0) == 2 %}checked="checked"{% endif %} /><label for="silver" class="rankoption silver"></label>
						{% else %}
						<div class="silver unavailable"></div>
						{% endif %}
						{% if session.get('ranknum', 0) > 2 %}
						<input id="gold" type="radio" name="rankselect" value="3" {% if session.get('ranknum', 0) == 3 %}checked="checked"{% endif %} /><label for="gold" class="rankoption gold"></label>
						{% else %}
						<div class="gold unavailable"></div>
						{% endif %}
						{% if session.get('ranknum', 0) > 3 %}
						<input id="platinum" type="radio" name="rankselect" value="4" {% if session.get('ranknum', 0) == 4 %}checked="checked"{% endif %} /><label for="platinum" class="rankoption platinum"></label>
						{% else %}
						<div class="platinum unavailable"></div>
						{% endif %}
						{% if session.get('ranknum', 0) > 4 %}
						<input id="diamond" type="radio" name="rankselect" value="5" {% if session.get('ranknum', 0) == 5 %}checked="checked"{% endif %} /><label for="diamond" class="rankoption diamond"></label>
						{% else %}
						<div class="diamond unavailable"></div>
						{% endif %}
						{% if session.get('ranknum', 0) > 5 %}
						<input id="master" type="radio" name="rankselect" value="6" {% if session.get('ranknum', 0) == 6 %}checked="checked"{% endif %} /><label for="master" class="rankoption master"></label>
						{% else %}
						<div class="master unavailable"></div>
						{% endif %}
						{% if session.get('ranknum', 0) > 6 %}
						<input id="grandmaster" type="radio" name="rankselect" value="7" {% if session.get('ranknum', 0) == 7 %}checked="checked"{% endif %} /><label for="grandmaster" class="rankoption grandmaster"></label>
						{% else %}
						<div class="grandmaster unavailable"></div>
						{% endif %}
					</div>
					
					
					<div class="preview">
						<input class="textstyle" type="text" placeholder="Custom Text" name="customtext" {% if session.get('rank') %}value="{{session.get('rank')}}{% if session.get('platform') %} ({{session.get('platform')}}){% endif %}"{% endif %}>
					</div>
					{% endif %}
					</form>
				</div>
			</div>
			
			{% if session.get('updated') %}
			<div class='updated'>
				Your flair was updated! You will be redirected to <a href="https://www.reddit.com/r/CompetitiveOverwatch/">r/Competitiveoverwatch</a> in a few seconds.
			</div>
			{% endif %}
			{% if session.get('rateexceed')  %}
			<div class='error'>
				Please wait a few minutes before requesting your rank again.
			</div>
			{% endif %}
			{% if session.get('step', 1) == 3 and session.get('rank','') == "error" %}
			<div class='error'>
				An error occurred. No rank was found on your playoverwatch.com profile pages.
			</div>
			{% endif %}
		</div>
	</body>
</html>