<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="theme-color" content="#E8E8E9">
		<meta name="description" content="r/CompetitiveOverwatch Rank Verification">

		<title>r/CompetitiveOverwatch Rank Verification</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		
		<script>
			function ready(fn) {
				if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
					fn();
				} else {
					document.addEventListener('DOMContentLoaded', fn);
				}
			}

			ready(function() {
				const userLocale = (navigator.languages && navigator.languages.length) ? navigator.languages[0] : navigator.language;

				if (userLocale === "en-GB") {
					window.region_select.value = "eu";

				} else if (userLocale === "en-US") {
					window.region_select.value = "us";
				}

				window.fetchrank_button.addEventListener('click', function() {
					window.loading.style.display = 'block';
				});
				
				window.platform_select.addEventListener('change', function() {
					const platform = window.platform_select.value

					window.psnname.style.display = (platform === "psn")? "inline-block" : "none";
					window.xblname.style.display = (platform === "xbl")? "inline-block" : "none";
				});


			});
		</script>

		<link rel="preconnect" href="https://competitiveoverwatch.reddit.com">
		<link rel="preconnect" href="https://www.reddit.com/api/v1/authorize">
	</head>
	<body>
		<header role="banner">
			<h1>Competitive Overwatch Rank Verification</h1>
			<h2>Keep your <a href="https://competitiveoverwatch.reddit.com">r/CompetitiveOverwatch</a> rank flair up to date.</h2>
		</header>
			
		<main role="main">
			<ol>
				{% set step = session.get('step', 1) %}

				<!-- Step 1 - Blizzard login -->
				<li class="step {{ 'complete' if step > 1 }} {{ 'disabled' if step < 1 }}">
					<span role="img" aria-label="Step  1{{ 'complete' if step > 1 }}" class="circle">1</span>

					<form action="/redditflair/blizzardredirect" method="get">

						{% if step > 1 and session.get('battletag') and session.get('region')  %}
							{% set battletag, region = session.get('battletag'), session.get('region') %}

							<p class="info">Overwatch account: {{battletag}}</p>
						{% endif %}

						<select
							name="region"
							id="region_select"
							title="Overwatch Region"
							{% if step < 1 %}
								disabled
							{% endif %}>
								{% for region in ["us", "eu", "apac"] %}
									<option value="{{ region }}" {% if session.get('region') == region %} selected {% endif %}>{{ region.upper() }}</option>
								{% endfor %}
						</select>

						{% if step <= 1 %}
							<input type="submit" value="Sign in with Blizzard" {% if step < 1 %} disabled {% endif %} />
						{% endif %}

						{% if step > 1 %}
							<input type="submit" value="Change Account" title="Change Reddit Account" />
						{% endif %}
					</form>
				</li>
				
				<!-- Step 2 - Fetch rank -->
				<li class="step {{ 'complete' if step > 2 }} {{ 'disabled' if step < 2 }}">
					<span role="img" aria-label="Step 2 {{ 'complete' if step > 2 }}" class="circle">2</span>

					<form action="/redditflair/fetchrank" method="get">
						<select
							name="platform"
							id="platform_select"
							title="Overwatch Platform"
							{% if step < 2 %}
								disabled
							{% endif %}>
								{% for platform in [("pc", "PC"), ("psn", "PS4"), ("xbl", "Xbox")] %}
									<option
										value="{{ platform[0] }}"
										{% if session.get('platform') == platform %}
											selected
										{% endif %}>{{ platform[1] }}</option>
								{% endfor %}
						</select>

						<input type="submit" value="Fetch Rank" title="Fetch Overwatch Rank" id="fetchrank_button">

						<input
							type="text"
							autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							pattern="[a-zA-Z0-9_-]{3,16}"
							class="console_username"
							id="psnname"
							name="psnname"
							placeholder="PSN Online ID" >

						<input
							type="text"
							autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							pattern="[a-zA-Z0-9 ]{1,15}"
							class="console_username"
							id="xblname"
							name="xblname"
							placeholder="Xbox Live Gamertag">
					</form>
				</li>
			</ol>
			
			{% if session.get('updated') %}
				<p class='updated'>
					Your flair was updated! You'll be redirected back to <a href="https://competitiveoverwatch.reddit.com">r/CompetitiveOverwatch</a> in a few seconds.
				</p>
			{% endif %}

			{% if session.get('rateexceed')  %}
				<p class='error'>
					Please wait a few minutes before requesting your rank again.
				</p>
			{% endif %}

			{% if step == 3 and session.get('rank','') == "error" %}
				<p class='error'>
					We couldn't find a rank for your profile. Try again soon or contact the mod team.
				</p>
			{% endif %}
		</main>
	</body>
</html>