<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="theme-color" content="#E8E8E9">
		<meta name="description" content="r/CompetitiveOverwatch Rank Verification">

		{% if session.get('updated') %}
			<meta http-equiv="refresh" content="3;url=https://competitiveoverwatch.reddit.com" />
		{% endif %}

		<title>r/CompetitiveOverwatch Rank Verification</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		
		<script>
			function ready(fn) {
				if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
					fn();
				} else {
					document.addEventListener('DOMContentLoaded', fn);
				}
			}

			ready(function() {
				const userLocale = (navigator.languages && navigator.languages.length) ? navigator.languages[0] : navigator.language;

				if (userLocale === "en-GB") {
					window.region_select.value = "eu";

				} else if (userLocale === "en-US") {
					window.region_select.value = "us";
				}

				window.fetchrank_button.addEventListener('click', function() {
					window.loading.style.display = 'block';
				});
				
				window.platform_select.addEventListener('change', function() {
					const platform = window.platform_select.value

					window.psnname.style.display = (platform === "psn")? "inline-block" : "none";
					window.xblname.style.display = (platform === "xbl")? "inline-block" : "none";
				});


			});
		</script>

		<link rel="preconnect" href="https://competitiveoverwatch.reddit.com">
		<link rel="preconnect" href="https://www.reddit.com/api/v1/authorize">
	</head>
	<body>
		<header role="banner">
			<h1>Competitive Overwatch Rank Verification</h1>
			<h2>Keep your <a href="https://competitiveoverwatch.reddit.com">r/CompetitiveOverwatch</a> rank flair up to date.</h2>
		</header>
			
		<main role="main">
			<ol>
				{% set step = session.get('step', 1) %}

				<!-- Step 1 - Reddit login -->
				<li class="step {{ 'complete' if step > 1 }}">
					<span role="img" aria-label="Step 1 {{ 'complete' if step > 1 }}" class="circle">1</span>

					{% if step == 1 %}
						<a class="button" href='{{redditLink}}'>Sign in with Reddit</a>

					{% elif step > 1 %}
						{% set redditUsername = session.get('redditname', 'Unknown') %}

						<p class="info">Reddit account to flair: <a href="https://reddit.com/user/{{redditUsername}}" title="Reddit user {{redditUsername}}">u/{{redditUsername}}</a></p>

						<a class="button" href='{{redditLink}}' title="Change Reddit Account">Change Account</a>
					{% endif %}
				</li>
				
				<!-- Step 2 - Blizzard login -->
				<li class="step {{ 'complete' if step > 2 }} {{ 'disabled' if step < 2 }}">
					<span role="img" aria-label="Step 2 {{ 'complete' if step > 2 }}" class="circle">2</span>

					<form action="/redditflair/blizzardredirect" method="get">

						{% if step > 2 and session.get('battletag') and session.get('region')  %}
							{% set battletag, region = session.get('battletag'), session.get('region') %}

							<p class="info">Overwatch account: {{battletag}}</p>
						{% endif %}

						<select
							name="region"
							id="region_select"
							title="Overwatch Region"
							{% if step < 2 %}
								disabled
							{% endif %}>
								{% for region in ["us", "eu", "apac"] %}
									<option value="{{ region }}" {% if session.get('region') == region %} selected {% endif %}>{{ region.upper() }}</option>
								{% endfor %}
						</select>

						{% if step <= 2 %}
							<input type="submit" value="Sign in with Blizzard" {% if step < 2 %} disabled {% endif %} />
						{% endif %}

						{% if step > 2 %}
							<input type="submit" value="Change Account" title="Change Reddit Account" />
						{% endif %}
					</form>
				</li>
				
				<!-- Step 3 - Fetch rank -->
				<li class="step {{ 'complete' if step > 3 }} {{ 'disabled' if step < 3 }}">
					<span role="img" aria-label="Step 3 {{ 'complete' if step > 3 }}" class="circle">3</span>

					<form action="/redditflair/fetchrank" method="get">
						<select
							name="platform"
							id="platform_select"
							title="Overwatch Platform"
							{% if step < 3 %}
								disabled
							{% endif %}>
								{% for platform in [("pc", "PC"), ("psn", "PS4"), ("xbl", "Xbox")] %}
									<option
										value="{{ platform[0] }}"
										{% if session.get('platform') == platform %}
											selected
										{% endif %}>{{ platform[1] }}</option>
								{% endfor %}
						</select>

						<input type="submit" value="Fetch Rank" title="Fetch Overwatch Rank" id="fetchrank_button">

						<input
							type="text"
							autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							pattern="[a-zA-Z0-9_-]{3,16}"
							class="console_username"
							id="psnname"
							name="psnname"
							placeholder="PSN Online ID" >

						<input
							type="text"
							autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							pattern="[a-zA-Z0-9 ]{1,15}"
							class="console_username"
							id="xblname"
							name="xblname"
							placeholder="Xbox Live Gamertag">
					</form>
				</li>
				
				<!-- Step 4 - Update flair -->
				<li class="step {{ 'complete' if session.get('updated') }} {{ 'disabled' if step < 4 }}">
					<form action="/redditflair/updateflair" method="get">
						<span role="img" aria-label="Step 4 {{ 'complete' if session.get('updated') }}" class="circle">4</span>
					
						{% if step == 4%}				
							<div class="rankpicker">
								{% set ranks = ["bronze","silver","gold","platinum","diamond","master","grandmaster"] %}
								{% set rankNum = session.get('ranknum', 0) %}

								{% for rank in ranks %}
									{% if loop.index <= rankNum %}
										<input
											type="radio"
											name="rank"
											id="{{rank}}"
											value="{{loop.index}}"
											{% if rankNum == loop.index %}
												checked
											{% endif %} />

										<label
											for="{{rank}}"
											class="rankoption {{rank}}">{{rank|title}}</label>
									{% endif %}
								{% endfor %}
							</div>
							
							{% set rank, plaform = session.get('rank'), session.get('platform') %}
								
							<input
								type="text"
								placeholder="Custom Flair Text"
								name="customflairtext"
								{% if rank or platform %}
									{% set suffix = " (" ~ platform ~ ")" %}
									value="{{ rank|title }}{{ suffix if platform else '' }}"
								{% endif %} />
						{% endif %}

						<input type="submit" value="Update Flair" title="Update Reddit Flair">
					</form>
				</li>
			</ol>
			
			{% if session.get('updated') %}
				<p class='updated'>
					Your flair was updated! You'll be redirected back to <a href="https://competitiveoverwatch.reddit.com">r/CompetitiveOverwatch</a> in a few seconds.
				</p>
			{% endif %}

			{% if session.get('rateexceed')  %}
				<p class='error'>
					Please wait a few minutes before requesting your rank again.
				</p>
			{% endif %}

			{% if step == 3 and session.get('rank','') == "error" %}
				<p class='error'>
					We couldn't find a rank for your profile. Try again soon or contact the mod team.
				</p>
			{% endif %}
		</main>
	</body>
</html>