<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flairs.css') }}?version=1.0">
	</head>
	<script>
		var nowsetting=1
		function setFlair(ev, id) {
			if (nowsetting == 1) {
				parent.document.getElementById('flair1').className = ev.target.className;
				parent.document.getElementById('flair1_id').value = id;
				nowsetting = 2;
			} else {
				parent.document.getElementById('flair2').className = ev.target.className;
				parent.document.getElementById('flair2_id').value = id;
				nowsetting = 1;
			}
		}
		
		function setSetting(num) {
			nowsetting=num;
		}
	</script>
	<body>
		{% set categories = flairdata['categories'] %}
		{% set flairs = flairdata['flairs'] %}
		
		{% if session.get('redditname') %}
			<form action="/redditflair/updateflair" method="get">
				{% if user %}
					{% if user.flair1 %}
						{% set flair = flairs[user.flair1] %}
						<div id="flair1" class="flair flair-{{flair['sheet']}}-c{{flair['col']}}-r{{flair['row']}}" onclick="setSetting(1)"></div>
						<input type="hidden" name="flair1_id" id="flair1_id" value="{{user.flair1}}">
					{% else %}
						<div id="flair1" onclick="setSetting(1)"></div>
						<input type="hidden" name="flair1_id" id="flair1_id">
					{% endif %}
					{% if user.flair2 %}
						{% set flair = flairs[user.flair2] %}
						<div id="flair2" class="flair flair-{{flair['sheet']}}-c{{flair['col']}}-r{{flair['row']}}" onclick="setSetting(2)"></div>
						<input type="hidden" name="flair2_id" id="flair2_id" value="{{user.flair2}}">
					{% else %}
						<div id="flair2" onclick="setSetting(2)"></div>
						<input type="hidden" name="flair2_id" id="flair2_id">
					{% endif %}			
				{% endif %}	
				<input type="submit" value="Update Flair">
			</form>
			{% for category in categories %}
				<h1>{{category['title']}}</h1>
				{% for item in category['items'] %}
					{% set flair = flairs[item['id']] %}
					<div class="flair flair-{{flair['sheet']}}-c{{flair['col']}}-r{{flair['row']}}" onclick="setFlair(event, '{{item['id']}}')"></div>{{item['name']}}<br>
				{% endfor %}
			{% endfor %}
			{% else %}
			<a href="{{redditLink}}">Sign in with Reddit</a>
		{% endif %}
		
		
	</body>
</html>