<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113342352-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-113342352-1');
        </script>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#E8E8E9">
        <meta name="description" content="r/CompetitiveOverwatch Rank Verification">
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flairs.css') }}?version=1.15">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}?version=1.1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='redditflair.css') }}?version=1.16">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        {% if not session.get('redditname') %}
            <meta http-equiv="refresh" content="0;url={{redditLink}}" />
        {% endif %}
        {% if session.get('updated') %}
            <meta http-equiv="refresh" content="2;url=https://competitiveoverwatch.reddit.com" />
        {% endif %}
    </head>
    <script>
        var nowsetting=1

        function setFlair(ev, id, active = true) {
            if (nowsetting == 1) {
                parent.document.getElementById('flair1').className = ev.target.firstChild.className;
                parent.document.getElementById('flair1').classList.remove("flair-small");
                parent.document.getElementById('flair1_id').value = id;
                parent.document.getElementById('flair1_text').innerHTML = ev.target.innerText;
                setSetting(2);
            } else {
                parent.document.getElementById('flair2').className = ev.target.firstChild.className;
                parent.document.getElementById('flair2').classList.remove("flair-small");
                parent.document.getElementById('flair2_id').value = id;
                parent.document.getElementById('flair2_text').innerHTML = ev.target.innerText;
                setSetting(1);
            }
            updateTextLength()
            window.scrollTo(0, 0);
        }
        
        function updateTextLength() {
            flairLen = 0;
            flair1Len = parent.document.getElementById('flair1_id').getAttribute("value").length;
            if (flair1Len > 0) {
                flairLen += flair1Len + 2
            }
            flair2Len = parent.document.getElementById('flair2_id').getAttribute("value").length;
            if (flair2Len > 0) {
                flairLen += flair2Len + 2
            }
            if (flairLen > 0) {
                flairLen += 3
            }
            specialBox = parent.document.getElementById('special-flair-text');
            if (specialBox) {
                flairLen += specialBox.value.length + 3
            }
            customTextLen = parent.document.getElementById('custom-flair-text').value.length;
            charsLeft = 64 - flairLen - customTextLen;
            parent.document.getElementById('custom-flair-text-length').innerHTML = charsLeft.toString();
        }
        
        function setSetting(num) {
            nowsetting=num;
            if (nowsetting == 1) {
                parent.document.getElementById('flairpicker2').classList.remove("flairpicker-active");
                parent.document.getElementById('flairpicker1').classList.add("flairpicker-active");
            } else {
                parent.document.getElementById('flairpicker1').classList.remove("flairpicker-active");
                parent.document.getElementById('flairpicker2').classList.add("flairpicker-active");
            }
        }
        
        function removeFlair(num) {
            if (num == 1) {
                parent.document.getElementById('flair1').className = "flair";
                parent.document.getElementById('flair1_id').value = "";
                parent.document.getElementById('flair1_text').innerHTML = "";
            } else {
                parent.document.getElementById('flair2').className = "flair";
                parent.document.getElementById('flair2_id').value = "";
                parent.document.getElementById('flair2_text').innerHTML = "";
            }
        }
        
        function resetFlairs() {
            setSetting(1);
            removeFlair(1);
            removeFlair(2);
            updateTextLength()
        }
        
        function searchKeyUp() {
            var searchWord, items, containers;
            searchWord = document.getElementById("search-text").value.toUpperCase();
            items = document.getElementsByClassName("flair-item");
            for (i=0; i<items.length; i++) {
                if (items[i].innerHTML.toUpperCase().indexOf(searchWord) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
            // hide empty containers
            containers = document.getElementsByClassName("container");
            for (i=2; i<containers.length; i++) {
                // show all if empty search
                if (searchWord == "") {
                    containers[i].style.display = "";
                    continue;
                }
                // hide preemptively
                containers[i].style.display = "none";
                // look for visible items
                items = containers[i].getElementsByClassName("flair-item");
                for (j=0; j<items.length; j++) {
                    if (items[j].style.display != "none") {
                        containers[i].style.display = "";
                        break;
                    }
                }
            }
        }
    </script>
    <title>r/CompetitiveOverwatch Flairs</title>
    <body onload="updateTextLength()">
        {% if session.get('redditname') %}
            {% if session.get('updated') %}
                <header role="banner">
                    <h2>Your flair was updated, you will be redirected to <a href="https://competitiveoverwatch.reddit.com">r/CompetitiveOverwatch</a> in a few seconds.</h2>
                </header>
            {% else %}
                <header role="banner">
                    <h2>Hey, u/{{session.get('redditname')}}! Choose your <a href="https://competitiveoverwatch.reddit.com">r/CompetitiveOverwatch</a> flairs.</h2>
                </header>
                <!-- Flair Selectors -->
                <form action="/redditflair/updateflair" method="get">
                    <div class="container container-top">   
                        <div class="flex-container">
                            <span class="flairpicker-label">Primary Flair</span>
                            <span class="flairpicker-label">Secondary Flair</span>
                        </div>
                        <div class="flex-container">
                            <div id="flairpicker1" class="flairpicker flairpicker-left flairpicker-active" onclick="setSetting(1)" oncontextmenu="removeFlair(1);return false;">
                            {% if user.flair1 %}
                                {% set flair = flairs[user.flair1] %}
                                <div id="flair1" class="flair flair-s{{flair.sheet}}-c{{flair.col}}-r{{flair.row}}"></div>
                                <input type="hidden" name="flair1_id" id="flair1_id" value="{{user.flair1}}">
                                <span id="flair1_text" class="flairpicker-text">{{flair.name}}</span>
                            {% else %}
                                <div id="flair1" class="flair"></div>
                                <input type="hidden" name="flair1_id" id="flair1_id" value>
                                <span id="flair1_text" class="flairpicker-text"></span>
                            {% endif %}
                            </div>
                            
                            <div id="flairpicker2" class="flairpicker" onclick="setSetting(2)" oncontextmenu="removeFlair(2);return false;">
                            {% if user.flair2 %}
                                {% set flair = flairs[user.flair2] %}
                                <div id="flair2" class="flair flair-s{{flair.sheet}}-c{{flair.col}}-r{{flair.row}}"></div>
                                <input type="hidden" name="flair2_id" id="flair2_id" value="{{user.flair2}}">
                                <span id="flair2_text" class="flairpicker-text">{{flair.name}}</span>
                            {% else %}
                                <div id="flair2" class="flair"></div>
                                <input type="hidden" name="flair2_id" id="flair2_id" value>
                                <span id="flair2_text" class="flairpicker-text"></span>
                            {% endif %}
                            </div>
                        </div>
                        <div class="flex-container">
                            <input class="text-box custom-flair-text" id="custom-flair-text" type="text" name="customflairtext" placeholder="Custom Flair Text" value="{{user.flairtext}}" onkeyup="updateTextLength()">
                            {% if user.special_text %}
                                &nbsp;
                                <input class="text-box custom-flair-text" id="special-flair-text" type="text" name="specialflairtext" disabled value="{{user.special_text}}">
                            {% endif %}
                            <span class="custom-flair-text-length" id="custom-flair-text-length">0</span>
                            <input class="update-flair-button" type="submit" value="Update Flair">
                            <input class="reset-flair-button" type="button" onClick="resetFlairs()" value="&#10060">
                        </div>
                    </div>

                    <div class="container">
                        <input class="text-box search-text" id="search-text" type="text" placeholder="Search" onkeyup="searchKeyUp()">
                    </div>

                    
                    <!-- Special category -->
                    {% if user.special_id %}
                        <div class="container"> 
                            <div class="category-label">Special Flairs</div>
                            <div class="flex-container-flairs">
                            {% if user.special_id in flairs %}
                                {% set flair = flairs[user.special_id] %}
                                <div class="flair-item" onclick="setFlair(event, '{{user.special_id}}')"><div class="flair flair-small flair-s{{flair.sheet}}-c{{flair.col}}-r{{flair.row}}"></div>{{flair.name}} - {{user.special_text}}</div>
                            {% endif %}
                            </div>
                        </div>
                    {% endif %} 
                    
                    <!-- Rank category -->
                    {% set rankNum = 0 %}
                    {% if user %}
                        {% set rankNum = user.rank %}
                    {% endif %} 
                    <div class="container"> 
                        <div class="category-label">Rank Flairs</div>
                            <div class="flex-container-flairs">
                            {% if rankNum %}
                                {% for item in ranks %}
                                    {% set flair = flairs[item] %}
                                    {% if loop.index <= rankNum %}
                                        <div class="flair-item" onclick="setFlair(event, '{{item}}')"><div class="flair flair-small flair-s{{flair.sheet}}-c{{flair.col}}-r{{flair.row}}"></div>{{flair.name}}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </div>
                            <div class="flex-container-verification">
                                <div class="flair-verification-button" onClick="location.href = '/redditflair/rankverification'">Verify your rank</div>
                            </div>
                        </div>
                    </div>

                    <!-- Categories -->
                    {% for category in category_names %}
                        <div class="container">
                            <div class="category-label">{{category}}</div>
                            <div class="flex-container-flairs">
                            {% for flair in categories[category] %}
                                <div class="flair-item" onclick="setFlair(event, '{{flair.short_name}}', {{'true' if flair.is_active else 'false'}})"><div class="flair flair-small flair-s{{flair.sheet}}-c{{flair.col}}-r{{flair.row}}"></div>{{flair.name}}</div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            {% endif %}     
        {% endif %}     
    </body>
</html>
